<template name="hangouts">
  <h3>Hangouts</h3>
  <div class="friendList">
    <ul>
      {{#each hangouts}}
        <li>
          {{title}}: {{description}}
        </li>
      {{/each}}
    </ul>
  </div>
  
  <div class="well">
    {{#autoForm collection="Hangout" id="insertHangoutsForm" type="method" meteormethod="createHangout"}}
      {{> afQuickField name='title' }}
      {{> afQuickField name='description' }}
      {{> afQuickField name='time' }}
      <input type="submit" class="btn btn-primary" value="Create" />
    {{/autoForm}}
  </div>

  <h3>User locations</h3>
  <div class="friendList">
    <ul>
      {{#each userlocations}}
        <li>
          {{user_id}}: {{location.coordinates}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>